image: maven:3.8.7-openjdk-17

stages:
  - build
  - test
  - package

cache:
  paths:
    - .m2/repository

variables:
  MAVEN_CLI_OPTS: "-B -Dmaven.repo.local=.m2/repository"

before_script:
  - export MAVEN_OPTS="-Dmaven.repo.local=.m2/repository"

build:
  stage: build
  script:
    - mvn $MAVEN_CLI_OPTS clean compile
  artifacts:
    paths:
      - target/

test:
  stage: test
  script:
    - mvn $MAVEN_CLI_OPTS test

package:
  stage: package
  script:
    - mvn $MAVEN_CLI_OPTS package
  artifacts:
    paths:
      - target/*.jar